<!DOCTYPE html>
<html>
<head>
    <title>Memory</title>
    <link rel="stylesheet" href="./static/style.css" />
</head>
<body data-page="menu">
    <section id="memory-game">
        <p>Das ist ein Memory-Spiel. Suche die Karten die zusammen passen.
        Entscheide dich zuerst für einen Schwierigkeitsgrad:</p>
        <button class="btn" type="submit" value="Submit!"><a href="{{ url_for('memory0') }}">Einfach</button>
        <button class="btn" type="submit" value="Submit!"><a href="{{ url_for('memory') }}">Normal</button>
        <button class="btn" type="submit" value="Submit!"><a href="{{ url_for('memory1') }}">Schwer</button>


    </section>
    <!-- <script src="./static/scripts.js"></script> -->
</body>
</html>

