<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./static/style.css" />
</head>
<body data-page="game1">
    <section id="memory-game"> <!-- a section is kind of like a div -->
        <div class="memory-card" data-framework="a">
            <img class="front-face" src="static/A_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="a">
            <img class="front-face" src="static/a_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="b">
            <img class="front-face" src="static/B_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="b">
            <img class="front-face" src="static/b_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="c">
            <img class="front-face" src="static/C_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="c">
            <img class="front-face" src="static/c_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="d">
            <img class="front-face" src="static/D_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="d">
            <img class="front-face" src="static/d_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="e">
            <img class="front-face" src="static/E_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="e">
            <img class="front-face" src="static/e_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="f">
            <img class="front-face" src="static/F_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="f">
            <img class="front-face" src="static/f_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="g">
            <img class="front-face" src="static/G_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="g">
            <img class="front-face" src="static/g_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="h">
            <img class="front-face" src="static/H_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="h">
            <img class="front-face" src="static/h_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="i">
            <img class="front-face" src="static/I_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="i">
            <img class="front-face" src="static/i_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="j">
            <img class="front-face" src="static/J_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="j">
            <img class="front-face" src="static/j_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

    </section>
    <button class="btn" type="submit" value="Submit!"><a href="{{ url_for('index') }}">Zurück</button>
    <script src="./static/scripts.js"></script>
</body>
</html>