<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./static/style.css" />
</head>

<script>
console.log("{{y}}")
</script>
window.location.search.substr(1)

<body data-page="game0">
    <section id="memory-game"> <!-- a section is kind of like a div -->
        <div class="memory-card" data-framework="a">
            <img class="front-face" src="static/A_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="a">
            <img class="front-face" src="static/a_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="b">
            <img class="front-face" src="static/B_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="b">
            <img class="front-face" src="static/b_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="c">
            <img class="front-face" src="static/C_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="c">
            <img class="front-face" src="static/c_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="d">
            <img class="front-face" src="static/D_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="d">
            <img class="front-face" src="static/d_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


    </section>
    <button class="btn" type="submit" value="Submit!"><a href="{{ url_for('index') }}">Zurück</button>
    <script src="./static/scripts.js"></script>
</body>
</html>