<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./static/style.css" />
</head>
<body data-page="game">
    <section id="memory-game"> <!-- a section is kind of like a div -->
        <div class="memory-card" data-framework="a">
            <img class="front-face" src="static/A_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="a">
            <img class="front-face" src="static/a_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="b">
            <img class="front-face" src="static/B_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="b">
            <img class="front-face" src="static/b_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="c">
            <img class="front-face" src="static/C_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="c">
            <img class="front-face" src="static/c_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>


        <div class="memory-card" data-framework="d">
            <img class="front-face" src="static/D_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="d">
            <img class="front-face" src="static/d_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="e">
            <img class="front-face" src="static/E_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="e">
            <img class="front-face" src="static/e_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>

        <div class="memory-card" data-framework="f">
            <img class="front-face" src="static/F_groß.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
        <div class="memory-card" data-framework="f">
            <img class="front-face" src="static/f_klein.png">
            <img class="back-face" src="static/back-face.jpg">
        </div>
    </section>
    <script src="./static/scripts.js"></script>
</body>
</html>